*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Helvetica Now Display';
}

html,body{
    height: 100%;
    width: 100%;
}

main{
    width: 100%;
    height: 100%;
    background-color: #252423;
}


.vertical-nav{
    position: fixed;
    top: 0;
    left: 0;
    width: 18%;
    height: 100%;
    padding: 2vw 1vw;
    // background-color: #333333;

    header {
        display: flex;
        align-items: center;
        gap: 1vw;


        #profilepic{
            width: 4vw;
            height: 4vw;
            background-color: red;
            border-radius: 2vw;
    
            img{
                width: 100%;
                height: 100%;
                object-fit: cover;
                border-radius: 2vw;
            }
        }
        
        #name-email{
            h1{
                font-size: 1.2em;
                color: #E0E0E0;
            }

            p{
                font-size: 0.8em;
                color: #E0E0E0;
            }
        }
    }
    
}

.main-content{
    position: fixed;
    margin-top: 1vw;
    top: 0;
    left: 18%;
    width: 82%;
    height: 110%;
    border-top-left-radius: 20px; 
    background-color: #ffffff;
    background-image: url('./Assets/2560x1600.jpg');
    background-size: cover;
}